.header{
    background-color: rgb(39, 22, 22);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
text-decoration: none;
font-size: 17px;
color: #ffffff;
margin-left: 30px;
}
.header a:hover{
    color: orange;
}